* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(25, 25, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(rgb(0, 0, 0));
    margin-top: 16px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}
    button {
     width: 100%;
     padding: 10px;
     border: none;
     background-color: #2563eb;
     color: #fff;
     border-radius: 10px;
     cursor: pointer;   
    }

    button:hover{
        background-color: #1d4ed8;
    }

    #resultado {
        margin-top: 20px;
    }

